{% load static%}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{%endblock%} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'user/navbar.css'%}">
    <link rel="stylesheet" type="text/css" href="{%  static 'DataTables-1.10.15/media/css/jquery.dataTables.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%  static 'DataTables-1.10.15/media/css/dataTables.bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%  static 'sweetalert-1.0.1/dist/sweetalert.css'%}">
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CMDB后台管理系统</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="{% block nav_user %}{% endblock%}"><a href="{% url 'user:index' %}">用户管理</a></li>
              <li class="{% block nav_asset %}{% endblock%}"><a href="{% url 'asset:index' %}">资产管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">当前用户：{{request.session.user.name}} <span class="sr-only">(current)</span></a></li>
              <li><a href="{% url 'user:passwd_view' %}">修改当前密码</a></li>
              <li><a href="{% url 'user:logout' %}">退出登录</a></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div class="jumbotron">
            {% block jumbotron %}{% endblock %}
      </div>
    </div>
        {% block dialogs %}{%endblock%}
    
    <script type="text/javascript" src="{% static 'jquery/jquery-1.12.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'sweetalert-1.0.1/dist/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'echarts/echarts.min.js' %}"></script>
    {% block scritps %}{% endblock %}
    <script type="text/javascript">

            // 参考http://www.datatables.club/
            $(document).ready(function() {
                {% block js %}{% endblock %}
            });
    </script>
  </body>
</html>
