{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>CMDB登陆</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'user/login.css'%}">
  </head>

  <body>
    <div class="container">
      <form class="form-signin" action="{% url 'user:valid_login' %}" method="POST">
        <h2 class="form-signin-heading">CMDB后台管理系统</h2>
            {% if errors %}
                {%for key, error in errors.items %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                    <!--{{ error }}-->
                {%endfor%}
            {%endif%}
            {% csrf_token %}
        <label for="name" class="sr-only">用户名</label>
        <input type="text" id="name" class="form-control" placeholder="用户名" name="name" value="{{ name }}">
        <label for="password" class="sr-only">密码</label>
        <input type="password" id="password" class="form-control" placeholder="密码" name="password">
        <!--<div class="checkbox">-->
          <!--<label>-->
            <!--<input type="checkbox" value="remember-me"> Remember me-->
          <!--</label>-->
        <!--</div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>

      </form>
    </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">提示</button>
    <!--<script type="text/javascript" src="{% static 'test.js' %}"></script>-->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
      var sum = 0

      for(var i =0;i <=100;i++ ) {
          sum += i
      }
      console.log(sum)
  </script>
  </body>
</html>
